.root {
    -fx-background-image: url("com/example/myfirstjavafx/assets/background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


